.header-btn-left.MuiButtonBase-root{
    border: 1px solid #3f51b5;
    border-radius: 20px 0px 0px 20px;
    margin-right: 10px;
    padding: 5px 20px;
    color: #3f51b5;
}
.header-btn-left.MuiButtonBase-root:hover{
    background-color: #3f51b5;
    color: white;
}
.header-btn-right.MuiButtonBase-root:hover{
    background-color: #3f51b5;
    color: white;
}
.header-btn-right.MuiButtonBase-root{
    border: 1px solid #3f51b5;
    border-radius: 0px 20px 20px 0px;
    padding: 5px 20px;
    color: #3f51b5;
}
.home-main{
    margin-top: 70px;
    display: flex;

}
.home-image{
    display: flex;
    width: 50%;
}
.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
    width: 40%;
}
.home-content-buttons button{
    border-radius: 25px;
    margin-right: 10px;
    margin-top: 40px;
}
.videoBtn.MuiButtonBase-root{
    padding: 5px 40px;
    border-radius: 25px;
}
.home-buttons.MuiButtonBase-root{
    color: white;
    background-color: #3f51b5;
    padding: 12px;
}
.works-main{
    margin-top: 50px;
    display: flex;
    
}
.work-features{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}
.cardsIndividual{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cardsIndividual > *{
    box-shadow: none;
    margin-right: 20px;
    margin-top: 20px;
}
.service-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}
.service-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}
.service-donelist{
    display:flex;
    flex-direction: column;
    padding: 20px 0px;
}
.service-donelist > *{
    display: flex;
    align-items: center;
    padding: 5px;
}
.doneIcon.css-i4bv87-MuiSvgIcon-root{
    color: #3f51b5;
    margin-right: 5px;
}
.features-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
.features-content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.css-zqcytf-MuiButtonGroup-root .MuiButtonGroup-grouped{
    background-color: rgba(128, 128, 128, 0.374);
    color: black;
    border-radius: 5px;
    border-color: none ;
}

.features-buttongroup{
    height: 20vh;
    display: flex;
    align-items: center;
}
.features-app{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.pricingCard-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    row-gap: 25px;
    width: 18%;
    border: 1px solid white ;
    box-shadow: 1px 2px 5px;
    border-radius: 10px;
}
.pricingCard-main:hover{
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
    border: #3f51b5 1px solid;
}
.pricingCard-top{
    display: flex;
    width:70%;
    justify-content: space-between;
    align-items: center;
}
.pricing-in{
    display: flex;
    align-items: center;
}
.pricing-content{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.pricing-content > *{
    display: flex;
    align-items: center;
}
.pricingList-Individual{
    display: flex;
    justify-content: space-evenly;
    
}
.pricing-main{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 70px;
    flex-wrap: wrap;
}
.pricing-heaidng{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.CC-fieldset{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
    border: 1px solid white;
    box-shadow: 1px 2px 5px;
    border-radius: 4px;
    padding: 20px;
    width: 90%;
}
.CC-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customer-details{
    display: flex;
}
.customers-main{
    margin-top: 50px;
}
.CC-fieldset:hover{
    border: 1px solid  #3f51b5;
    box-shadow: 0px 7px 8px -4px rgb(0 0 0 / 20%), 0px 12px 17px 2px rgb(0 0 0 / 14%), 0px 5px 22px 4px rgb(0 0 0 / 12%);;
}
.customer-btns{
    display: flex;
    justify-content: center;
}
.customer-download{
    margin-top: 50px;
    padding: 50px;
}
.footer-main{
    color: white;
    background: #011C3A;
}
.rrr{
    display: flex;
    padding: 50px 0px; 
}
.rrr > *{
    width: 100%;
}
.aboutus-icons{
    display: flex;
}
.aboutus-icons > *{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid white;
}
.footer-aboutUs,.footer-common,.footer-newsletter{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.footer-common > *{
    display: flex;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.footer-common > *:hover{
    background-color: #435263;
    cursor: pointer;
}
.xyz:hover{
    background-color: #011C3A;
}
.emailInput{
    display: flex;
    align-items: center;
}
.inpEmail{
    outline: none;
    border: none;
    color: white;
    height: 35px;
    background-color: #011C3A;
}
